<h1>Les différentes cuisines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cuisines.each do |cuisine| %>
  <tr>
    <td><%= cuisine.name %></td>
    <td><%= cuisine.description %></td>
    <td><%= link_to 'Voir', cuisine %></td>
    <td><%= link_to 'Modifier', edit_cuisine_path(cuisine) %></td>
    <td><%= link_to 'Supprimer', cuisine, :confirm => 'Etes-vous sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle cuisine', new_cuisine_path %>
