<h1>Listing ambiances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ambiances.each do |ambiance| %>
  <tr>
    <td><%= ambiance.name %></td>
    <td><%= ambiance.description %></td>
    <td><%= link_to 'Voir', ambiance %></td>
    <td><%= link_to 'Modifier', edit_ambiance_path(ambiance) %></td>
    <td><%= link_to 'Supprimer', ambiance, :confirm => 'Etes-vous sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle ambiance', new_ambiance_path %>
